.margin-bottom-small {
  margin-bottom: 2rem !important;
}

.margin-bottom-med {
  margin-bottom: 3rem !important;
}

.margin-bottom-large {
  margin-bottom: 4rem !important;
}

.margin-bottom-huge {
  margin-bottom: 8rem !important;
}
